body{
  padding: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
*{
  font-family: Mario;
}
a{
  display: block;
}
fakeA{
  display: block;
  text-decoration: underline;
}
