@font-face{
  font-family: 'Mario';
  src: url('fonts/Mario.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body{
  padding: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
*{
  font-family: Mario;
  font-weight: normal;
}
a{
  display: block;
}
fakeA{
  display: block;
  text-decoration: underline;
}
